body{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#sideMenu {
	z-index: 1000;
}

.board {
	height: 640px;
	width: 640px;
	border-radius: 25px;


}

.quadrant {
	height: 298px;
	width: 298px;
	border:2px solid;
	border-radius: 15px;
	float: left;
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
	border-spacing: 0;

	display:-webkit-box;

	transition: box-shadow 0.5s, margin 0.5s;
	-moz-transition: box-shadow 0.5s, margin 0.5s;
	-webkit-transition: box-shadow 0.5s, margin 0.5s;
	-o-transition: box-shadow 0.5s,  0.5s;
}

#q0 {
position:relative;
background-image: linear-gradient(left top, rgb(191,48,48) 0%, rgb(255,0,0) 52%);
background-image: -o-linear-gradient(left top, rgb(191,48,48) 0%, rgb(255,0,0) 52%);
background-image: -moz-linear-gradient(left top, rgb(191,48,48) 0%, rgb(255,0,0) 52%);
background-image: -webkit-linear-gradient(left top, rgb(191,48,48) 0%, rgb(255,0,0) 52%);
background-image: -ms-linear-gradient(left top, rgb(191,48,48) 0%, rgb(255,0,0) 52%);
border-color: #E40045;
background-image: -webkit-gradient(
	linear,
	left top,
	right bottom,
	color-stop(0, rgb(191,48,48)),
	color-stop(0.52, rgb(255,0,0))
);


	-webkit-box-pack:end;
	-webkit-box-align:end;
}

#q0:hover{
	box-shadow:0 0 55px #E40045; 
}


#q1 {
background-image: linear-gradient(left bottom, rgb(255,200,0) 0%, rgb(255,210,64) 52%);
background-image: -o-linear-gradient(left bottom, rgb(255,200,0) 0%, rgb(255,210,64) 52%);
background-image: -moz-linear-gradient(left bottom, rgb(255,200,0) 0%, rgb(255,210,64) 52%);
background-image: -webkit-linear-gradient(left bottom, rgb(255,200,0) 0%, rgb(255,210,64) 52%);
background-image: -ms-linear-gradient(left bottom, rgb(255,200,0) 0%, rgb(255,210,64) 52%);

border-color: #FFC600;

background-image: -webkit-gradient(
	linear,
	left bottom,
	right top,
	color-stop(0, rgb(255,200,0)),
	color-stop(0.52, rgb(255,210,64))
);

	-webkit-box-pack:start;
	-webkit-box-align:end;
}

#q1:hover {
	box-shadow:0 0 55px #FFC600;
}

#q2 {
background-image: linear-gradient(right top, rgb(10,102,163) 29%, rgb(3,66,106) 74%);
background-image: -o-linear-gradient(right top, rgb(10,102,163) 29%, rgb(3,66,106) 74%);
background-image: -moz-linear-gradient(right top, rgb(10,102,163) 29%, rgb(3,66,106) 74%);
background-image: -webkit-linear-gradient(right top, rgb(10,102,163) 29%, rgb(3,66,106) 74%);
background-image: -ms-linear-gradient(right top, rgb(10,102,163) 29%, rgb(3,66,106) 74%);

border-color: #65A6D1;

background-image: -webkit-gradient(
	linear,
	right top,
	left bottom,
	color-stop(0.29, rgb(10,102,163)),
	color-stop(0.74, rgb(3,66,106))
);

	-webkit-box-pack:end;
	-webkit-box-align:baseline;
}
#q2:hover {
	box-shadow:0 0 55px #65A6D1;
}

#q3 {
background-image: linear-gradient(left top, rgb(0,204,0) 29%, rgb(38,153,38) 74%);
background-image: -o-linear-gradient(left top, rgb(0,204,0) 29%, rgb(38,153,38) 74%);
background-image: -moz-linear-gradient(left top, rgb(0,204,0) 29%, rgb(38,153,38) 74%);
background-image: -webkit-linear-gradient(left top, rgb(0,204,0) 29%, rgb(38,153,38) 74%);
background-image: -ms-linear-gradient(left top, rgb(0,204,0) 29%, rgb(38,153,38) 74%);

border-color: #39E639;


background-image: -webkit-gradient(
	linear,
	left top,
	right bottom,
	color-stop(0.29, rgb(0,204,0)),
	color-stop(0.74, rgb(38,153,38))
);

	-webkit-box-pack:start;
	-webkit-box-align:baseline;
}
#q3:hover {
	box-shadow:0 0 55px #39E639;
}


.quadcells {
	width:240px;


	transition: padding-left 0.5s, padding-right 0.5s, padding-top 0.5s, padding-bottom 0.5s;
	transition-timing-function: ease
	-moz-transition:  padding-left 0.5s, padding-right 0.5s, padding-top 0.5s, padding-bottom 0.5s;
	-webkit-transition:  padding-left 0.5s, padding-right 0.5s, padding-top 0.5s, padding-bottom 0.5s;
	-webkit-transition-timing-function: ease
	-o-transition:  padding-left 0.5s, padding-right 0.5s, padding-top 0.5s, padding-bottom 0.5s;
	padding:0, 0, 0,0;
	 

}

#q0 .quadcells {
	padding-left: 38px;
}

#q2 .quadcells {
	padding-left: 38px;
}

#q0 .quadcells.expanded {
	padding-bottom:38px;
	padding-right:38px;
	padding-left: 0px;
}

#q1 .quadcells.expanded {
	padding-bottom:38px;
	padding-left:38px;
}

#q2 .quadcells.expanded {
	padding-top:38px;
	padding-right:38px;
	padding-left: 0px;
}

#q3 .quadcells.expanded {
	padding-top:38px;
	padding-left:38px;

}






.row {
	height: 90px;
	width: 270px;
	margin: auto;
}
.cell {
	line-height: 65px;
	height: 65px;
	width: 65px;
	float: left;
	margin: 1px 1px 1px 1px;
	padding: 0px 0px 5px 0px;
	background-color: #FFFFFF;
	font-size: 70px;
	text-align: center;
	border-radius: 3px;

     -webkit-transition: background-color 200ms linear;
     -moz-transition: background-color 200ms linear;
     -o-transition: background-color 200ms linear;
     -ms-transition: background-color 200ms linear;
     transition: background-color 200ms linear;
}



#q0 .cell:hover {
	background-color: #FF4040;

	-moz-box-shadow:    inset 0 0 5px #f9f9f9;
	-webkit-box-shadow: inset 0 0 5px #f9f9f9;
	box-shadow:         inset 0 0 5px #f9f9f9;

     -webkit-transition: background-color 200ms linear;
     -moz-transition: background-color 200ms linear;
     -o-transition: background-color 200ms linear;
     -ms-transition: background-color 200ms linear;
     transition: background-color 200ms linear;
}

#q1 .cell:hover {
	background-color: #FFE073;

	-moz-box-shadow:    inset 0 0 5px #A68100;
	-webkit-box-shadow: inset 0 0 5px #A68100;
	box-shadow:         inset 0 0 5px #A68100;

     -webkit-transition: background-color 200ms linear;
     -moz-transition: background-color 200ms linear;
     -o-transition: background-color 200ms linear;
     -ms-transition: background-color 200ms linear;
     transition: background-color 200ms linear;
}

#q2 .cell:hover {
	background-color: #24587A;

	-moz-box-shadow:    inset 0 0 5px #03426A;
	-webkit-box-shadow: inset 0 0 5px #03426A;
	box-shadow:         inset 0 0 5px #03426A;

     -webkit-transition: background-color 200ms linear;
     -moz-transition: background-color 200ms linear;
     -o-transition: background-color 200ms linear;
     -ms-transition: background-color 200ms linear;
     transition: background-color 200ms linear;
}

#q3 .cell:hover {
	background-color: #39E639;

	-moz-box-shadow:    inset 0 0 5px #269926;
	-webkit-box-shadow: inset 0 0 5px #269926;
	box-shadow:         inset 0 0 5px #269926;

     -webkit-transition: background-color 200ms linear;
     -moz-transition: background-color 200ms linear;
     -o-transition: background-color 200ms linear;
     -ms-transition: background-color 200ms linear;
     transition: background-color 200ms linear;
}










